body{
    font-family: 'Oswald', sans-serif;
    /* text-align:center; */
    background: url('https://images.pexels.com/photos/115655/pexels-photo-115655.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260') no-repeat;
    background-size: cover;
    background-position: center;
    height:100%;
    width:100vw;
    color:white
}
.App{
  background: url('https://images.pexels.com/photos/115655/pexels-photo-115655.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260') no-repeat;
  background-size: cover;
  background-position: center;
  height:100vh;
  width:100vw;
  background-attachment:fixed;
}
.Bo{
  margin: 100px 80px 0px 80px;
  width:50%;
}
.Bo input{
  color:white
}
nav{
  display:flex;
  align-items:center;
  justify-content:space-around;
  min-height:10vh;
  background:rgb(73,79,82);
  color:white
}
.nav-link{
  width:40%;
  justify-content:space-around;
  display:flex;
  align-items:center;
  list-style:none;
  list-style-type:none;
  text-decoration:none
}
.L{
  display:flex;
  flex-direction:column;
  margin:20px 0 0 0;
  /* min-height:40vh */
}
.H{
  width:50%;
  margin:0px;
}
.H footer{
    margin-top: 20px;
}

.page-footer{
  background-color: #40474e;
  color:white;
  padding: 2rem 0 2rem;
  margin-top: 1rem
}
footer i{
  height:3rem;
  margin:1.5rem 0;
}
footer a{
  color:white
}
footer a:hover{
  color:#1abba3!important
}
footer i{
  font-size:1.6rem;
}
.Q{
  display:flex;
  flex-direction: row;
  justify-content:space-around;
  color:#0b99a7;
}
.features{
  text-align: center;
  
}
.heading{
  text-align:center;
  color:#0b99a7;
  margin: 0px 0px 0px 0px
}
.UU{
  background:url('https://images.pexels.com/photos/303383/pexels-photo-303383.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940') no-repeat;
  background-position: center;
  background-size:cover;
  z-index:-1;
  background-attachment:fixed;
  height:100vh;
  overflow-x: hidden;
}